[data-theme = 'light'] {
    --primary: rgb(255, 159, 175);
    --text: var(--primary);
    --input: var(--other);
    --box: white;
    --other: black;
    --link: blue;
    --shadow-color: grey;
}

[data-theme = 'dark'] {
    --primary: #162d50;
    --text: pink;
    --input: var(--text);
    --box: #0b1728;
    --other: gray;
    --link: var(--text);
    --shadow-color: #0b1728;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    transition: left 200ms, right 200ms, bottom 200ms, top 200ms, box-shadow 200ms ease-in-out 0s;
    outline: none;
}

main {
    background-color: var(--primary);
    transition: background-color 300ms ease-in-out 0s;
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    background-color: var(--primary);
}

.mode-box {
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
}

.mode {
    height: 2em;
    width: 2em;
    margin: 0 7px;
    border-radius: 50%;
}

.light {
    background-color: rgb(199, 130, 141);
    box-shadow: 2px 2px 2px var(--shadow-color);
}

.dark {
    background-color: rgb(61, 61, 87);
    box-shadow: 2px 2px 2px var(--shadow-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.whole {
    width: 400px;
    height: 390px;
    margin: 20px 15px 40px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--shadow-color);
    background-color: var(--box);
    overflow: hidden;
}

@media screen and (max-width: 400px) {
    * {
        font-size: 14px;
    }
    
    .whole {
        width: 340px;
        margin-top: 20px;
        min-height: 300px;
    }

    input {
        padding: 5px 20px;
    }
}

h1 {
    font-size: 30px;
    color: var(--text);
}

.head, .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section p {
    text-align: center;
}

.form {
    margin-top: 40px;
    position: relative;
    left: 0;
}

input {
    padding: 10px 15px;
    margin: 10px;
    background: none;
    border: 4px solid var(--text);
    border-radius: 20px;
    color: var(--input);
}

input:focus {
    box-shadow: 1px 1px 1px var(--shadow-color);
}

button {
    margin-top: 30px;
    border: none;
    padding: 15px 45px;
    font-weight: bold;
    border-radius: 20px;
    color: var(--box);
    background-color: var(--text);
    box-shadow: 2px 2px 5px var(--shadow-color);
    position: relative;
    bottom: 0;
}

button:hover {
    bottom: 5px;
}

p.plus {
    font-weight: bold;
    font-size: 40px;
    color: var(--other);
}

.answer {
    margin: 80px 0 20px;
    color: var(--other);
}

.result {
    text-align: center;
    position: relative;
    bottom: 300px;
    right: -400px;
}

h2 {
    font-size: 22px;
    color: var(--text);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.bolden {
    text-transform: uppercase;
    font-weight: bold;
}

.move {
    left: -350px;
}

.mount {
    right: 0;
}

span {
    color: var(--other);
}

a {
    color: var(--link);
}

footer {
    text-align: center;
    margin-bottom: 30px;
    color: var(--other);
}
